@font-face {
  font-family: Portfolioedo;
  src: url('../fonts/PortfolioEdo-Regular.ttf') format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

:root {
  --not-pure-black: #0a0a0a;
  --black: black;
  --white: white;
  --coloreinterno: var(--not-pure-black);
  --ombra: #0000;
  --testo-base: "IBM Plex Sans Condensed", sans-serif;
  --colorebordo: #0000;
  --bianco-meno-importante: #ffffffa3;
  --serif: "Instrument Serif", sans-serif;
  --size: 1px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  font-weight: bold;
  line-height: 44px;
}

a {
  color: var(--not-pure-black);
  text-decoration: none;
}

.text-block {
  color: var(--black);
  font-family: Instrument Serif, sans-serif;
  font-size: 3.5em;
  font-weight: 400;
  line-height: 1.2em;
  display: block;
}

.text-block.evideziato {
  color: var(--not-pure-black);
  background-color: #fff;
  padding-top: .1em;
  padding-bottom: .1em;
  font-size: 4.8em;
  line-height: 1em;
  display: block;
}

.text-block.h1 {
  color: var(--white);
}

.text-block.logo {
  line-height: .5em;
}

.text-block-2 {
  color: var(--coloreinterno);
  -webkit-text-fill-color: inherit;
  cursor: pointer;
  mix-blend-mode: normal;
  background-color: #fff;
  background-clip: border-box;
  flex-flow: row;
  justify-content: flex-start;
  font-family: Instrument Serif, sans-serif;
  font-size: 2em;
  font-style: italic;
  font-weight: 400;
  line-height: 1em;
  display: inline;
}

.image {
  display: inline-block;
}

.body {
  background-color: var(--not-pure-black);
  -webkit-text-fill-color: inherit;
  background-clip: border-box;
  flex-flow: column;
  justify-content: space-between;
  align-items: stretch;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  display: flex;
}

.body.homepage {
  padding: 0;
}

.div-block {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: wrap;
  display: flex;
}

.div-block.men {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  z-index: 1;
  pointer-events: initial;
  flex-flow: wrap;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  place-content: flex-start;
  align-items: flex-start;
  max-width: 1700px;
  height: 100%;
  display: none;
  position: static;
}

.section {
  background-color: var(--ombra);
  margin-bottom: 0;
  padding: 1em;
  display: flex;
  position: fixed;
  inset: 0%;
}

.image-2 {
  background-image: url("https://cdn.prod.website-files.com/664b888832e5abdeceae9a72/664e020e4a2a11c99f829167_GiuseppeCarotenuto%2C%20L'Aquila_3%20-%20dimensioni%20grandi.jpeg");
  background-position: 0 0;
  background-size: cover;
}

.div-block-2 {
  box-sizing: border-box;
  -webkit-text-fill-color: inherit;
  background-image: url("https://cdn.prod.website-files.com/664b888832e5abdeceae9a72/664e020e4a2a11c99f829167_GiuseppeCarotenuto%2C%20L'Aquila_3%20-%20dimensioni%20grandi.jpeg");
  background-position: 50% 0;
  background-size: cover;
  background-clip: border-box;
  align-self: center;
  width: 150px;
  height: 50px;
}

.image-3 {
  box-sizing: border-box;
  aspect-ratio: auto;
  object-fit: cover;
  background-color: #fff;
  align-self: center;
  width: 120px;
  height: 52px;
}

.div-block-3 {
  background-color: #fff;
  align-self: center;
  height: 70px;
  max-height: 70px;
}

.superscript {
  font-style: italic;
  font-weight: 400;
}

.image-4 {
  vertical-align: baseline;
  object-fit: cover;
  z-index: 1;
  width: 80px;
  max-width: none;
  height: 120px;
  overflow: clip;
}

.div-block-4 {
  background-color: var(--white);
  order: 0;
  justify-content: center;
  align-self: auto;
  align-items: center;
  height: 6em;
  display: flex;
}

.div-block-5 {
  display: flex;
}

.image-5 {
  object-fit: cover;
  width: 130px;
  max-width: none;
  height: 70px;
}

.image-6 {
  object-fit: cover;
  object-position: 50% 60%;
  width: 170px;
  height: 70px;
  position: static;
}

.image-7 {
  object-fit: fill;
  width: 80px;
  height: 80px;
}

.section-2 {
  background-color: var(--ombra);
  pointer-events: none;
  flex-flow: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 1em;
  display: flex;
  position: fixed;
  inset: 0%;
}

.slider {
  z-index: -1;
  background-color: #0000;
  height: 100vh;
  position: static;
  inset: 0;
}

.slide {
  background-image: url('../images/Referto_8.jpg');
  background-position: 50%;
  background-size: cover;
}

.slide-2 {
  background-image: url('../images/DSCF4266.jpg');
  background-position: 50%;
  background-size: cover;
}

.slide-3 {
  background-image: url('../images/2.jpg');
  background-position: 50% 100%;
  background-size: cover;
}

.slide-4 {
  background-image: url('../images/Sample_6-copia-copia.jpg');
  background-position: 50% 0;
  background-size: cover;
}

.slide-5 {
  background-image: url('../images/Screenshot-2024-05-23-alle-12.24.34.jpg');
  background-position: 50%;
  background-size: cover;
}

.slide-6 {
  background-image: url('../images/Screenshot-2024-05-23-alle-12.28.19.jpg');
  background-position: 50%;
  background-size: cover;
}

.slide-7 {
  background-image: url('../images/SourData_1.jpg');
  background-position: 50%;
  background-size: cover;
}

.div-block-6 {
  pointer-events: initial;
  justify-content: space-between;
  display: flex;
}

.div-block-7 {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  pointer-events: initial;
  flex-flow: row;
  justify-content: space-between;
  align-items: stretch;
  height: 92vh;
  display: none;
  position: static;
  inset: 0% 0% auto;
}

.paragraph {
  font-family: Instrument Serif, sans-serif;
  font-size: 1.2em;
}

.text-block-3 {
  display: block;
}

.text-span.highlight {
  background-color: #fff;
}

.rich-text-block {
  text-align: left;
  background-color: #fff;
}

.rich-text-block.paragraph {
  font-style: normal;
}

.block-quote {
  border: 10px #000;
  border-bottom-width: 0;
  font-style: italic;
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  width: 260px;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.body-2 {
  background-color: var(--not-pure-black);
  -webkit-text-fill-color: inherit;
  background-clip: border-box;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

.body-2.sourdata {
  background-color: #3842f1;
}

.section-3 {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  margin-top: 4em;
  display: flex;
}

.div-block-8 {
  width: 30%;
}

.div-block-9 {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  flex-flow: column;
  width: 70%;
  max-height: 90vh;
  display: flex;
  overflow: scroll;
}

.rich-text-block-2 {
  color: #fff;
}

.rich-text-block-3 {
  color: #fff;
  text-decoration: none;
}

.image-8 {
  width: 100%;
}

.paragraph-2 {
  font-family: var(--testo-base);
  color: var(--white);
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: var(--colorebordo);
  margin-bottom: 2em;
  font-size: 1.8em;
  font-weight: 300;
  line-height: 1.1em;
}

.paragraph-2.nero {
  color: var(--not-pure-black);
  margin-bottom: 0;
  font-weight: 300;
  line-height: 1.3em;
}

.paragraph-2.nero.padding {
  margin-bottom: 1em;
}

.paragraph-2.nero.italic {
  font-style: italic;
}

.link {
  text-decoration: none;
}

.sottolineato {
  text-underline-offset: 3px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.evidenziato1 {
  background-color: var(--white);
}

.div-block-10 {
  flex-flow: column;
  justify-content: space-between;
  align-items: stretch;
  width: 50%;
  display: flex;
}

.div-block-11 {
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 50%;
  display: flex;
}

.link-2 {
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  display: block;
}

.link-block {
  background-color: red;
}

.image-9 {
  margin-bottom: 2em;
}

.div-block-12 {
  background-image: url('../images/WhatsApp-IMG-0731---dimensioni-grandi.jpeg');
  background-position: 50%;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin-bottom: 2em;
}

.image-10 {
  text-align: center;
  margin: auto;
  display: block;
  position: absolute;
  inset: auto auto 0%;
}

.div-block-13 {
  background-image: url('../images/WhatsApp-IMG-0731---dimensioni-grandi.jpeg');
  background-position: 0 0;
  background-size: cover;
  position: static;
  inset: 0% 0% auto;
}

.image-11 {
  width: 20%;
  padding: 0;
  display: none;
  position: absolute;
  inset: auto;
}

.div-block-14 {
  position: absolute;
}

.overlaynero {
  background-color: #00000040;
  display: none;
  position: absolute;
  inset: 0%;
}

.div-block-15 {
  text-align: left;
  justify-content: center;
  align-items: center;
  display: flex;
}

.div-block-16 {
  pointer-events: initial;
}

.text-span-2, .text-span-3, .text-span-4 {
  color: var(--bianco-meno-importante);
}

.link-3 {
  color: var(--white);
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.text-span-5 {
  color: var(--bianco-meno-importante);
}

.slide-8 {
  background-image: url('../images/IMG_0510.jpg');
  background-position: 50%;
  background-size: cover;
}

.link-4, .link-5, .link-6 {
  color: var(--bianco-meno-importante);
  text-decoration: underline;
  text-decoration-thickness: .05em;
}

.slide-1 {
  background-image: url('../images/DSC02330.jpg');
  background-position: 50%;
  background-size: cover;
}

.slide-9 {
  background-image: url('../images/Free-Outdoor-Poster-Mockup-1.jpg');
  background-position: 50%;
  background-size: cover;
}

.link-7 {
  color: var(--white);
  text-decoration: underline;
  text-decoration-thickness: .05em;
}

.text-span-6 {
  color: var(--bianco-meno-importante);
}

.slide-10 {
  background-image: url('../images/Home.jpg');
  background-position: 50%;
  background-size: cover;
}

.slide-11 {
  background-image: url('../images/IMG_4677.jpeg');
  background-position: 50%;
  background-size: cover;
}

@media screen and (max-width: 991px) {
  .text-block.evideziato {
    font-size: 4em;
    line-height: 1em;
  }

  .div-block {
    flex-flow: wrap;
    display: flex;
  }

  .div-block-4 {
    height: 5.5em;
  }

  .div-block-7 {
    display: none;
    overflow: scroll;
  }

  .section-3 {
    flex-flow: column;
  }

  .div-block-8 {
    width: 70%;
  }

  .div-block-9 {
    width: 100%;
    max-height: none;
    margin-bottom: 2em;
  }

  .paragraph-2 {
    font-size: 1.6em;
  }

  .image-11 {
    padding-right: 250px;
  }
}

@media screen and (max-width: 767px) {
  .text-block.evideziato {
    font-size: 3em;
  }

  .image-4 {
    width: 70px;
    height: 110px;
  }

  .div-block-4 {
    height: 4.5em;
  }

  .image-5 {
    width: 120px;
    height: 60px;
  }

  .image-6 {
    width: 160px;
    height: 60px;
  }

  .image-7 {
    width: 70px;
    height: 70px;
  }

  .section-3 {
    flex-flow: column;
  }

  .div-block-8 {
    width: 70%;
  }

  .paragraph-2 {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 479px) {
  .text-block {
    font-size: 1.6em;
  }

  .text-block.evideziato {
    flex-flow: row;
    font-size: 1.3em;
    display: block;
  }

  .text-block-2 {
    font-size: 1.5em;
  }

  .div-block {
    flex-flow: wrap;
    font-size: 1.3em;
  }

  .div-block.men {
    display: none;
  }

  .image-4 {
    width: 35px;
    height: 50px;
  }

  .div-block-4 {
    height: 2.2em;
  }

  .image-5 {
    width: 65px;
    height: 32px;
  }

  .image-6 {
    width: 80px;
    height: 32px;
  }

  .image-7 {
    width: 35px;
    height: 35px;
  }

  .div-block-7 {
    flex-flow: column;
    display: none;
  }

  .section-3 {
    flex-flow: column;
    margin-bottom: 3em;
  }

  .div-block-8 {
    width: 100%;
  }

  .div-block-9 {
    width: 100%;
    margin-bottom: 0;
  }

  .paragraph-2.nero {
    display: block;
  }

  .paragraph-2.nero.fine-colonna {
    margin-bottom: 1em;
  }

  .div-block-10 {
    width: 100%;
    display: flex;
  }

  .div-block-11 {
    width: 100%;
  }
}


@font-face {
  font-family: 'Portfolioedo';
  src: url('../fonts/PortfolioEdo-Regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}